<footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                        <%= new Date().getFullYear(); %> &copy; Xeria theme by <a href="">Coderthemes</a> 
                </div>
                <div class="col-md-6">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript:void(0);">About Us</a>
                        <a href="javascript:void(0);">Help</a>
                        <a href="javascript:void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function make_animation(value)
        {
            $("#sidebar-menu>ul>li>a.active").removeClass('active');
            $('#layout_id').addClass('active');
            
           if(value == 'dark')
            { 
                $('body').attr('class','');
                $('body').addClass('left-side-menu-light topbar-dark');
            }
            else if(value == 'light')
            {  
                $('body').attr('class','');
                $('body').addClass('left-side-menu-light');
            }
            else if(value == 'small')
            {
                $('body').attr('class','');
                $('body').addClass('left-side-menu-sm');
            }
            else if(value == 'preloader')
            {
              $('#if_loader_needed').append("<div id='preloader'><div id='status'><div class='spinner'>Loading...</div></div></div>");
              setTimeout(function() {   $('#preloader').css('display','none');  $('#status').css('display','none');    }, 3000);
            }
            else if(value == 'collapsed')
            {
                $('body').attr('class','');
                $('body').addClass('enlarged');
                $('body').attr('data-keep-enlarged','true');
            }
            else if(value == 'boxed')
            {
                $('body').attr('class','');
                $('body').addClass('enlarged boxed-layout');
                $('body').attr('data-keep-enlarged','true');
            }
            else
            { }
        }
        </script>